/* Card-set список з карточками*/
.card-set {
    @extend %list;
    // display: flex;

    &--center {
        display: flex;
        justify-content: center;
    }

    &--flex{
        display: flex;
    }

    &--minus-margin {
        display: flex;
        flex-wrap: wrap;
        /* outline: 1px solid teal; */
        // margin-top: calc(-1 * $margin);
        // margin-left: calc(-1 * $margin);
        margin: calc(-1 * ($margin / 2));
    }
    &--features,
    &--team,
    &--portfolio{
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            margin: calc(-1 * ($margin / 2));
        }
    }
    &--client{
        display: flex;
        flex-wrap: wrap;
        margin: calc(-1 * ($margin / 2));
        
    }
}

.card-set__item{
    display: inline-block;

    &--features, &--team{
        @media screen and (max-width: calc($tablet - 1px)) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: $tablet) {
            width: calc((100% - 2 * $margin) / 2);
            margin: calc($margin / 2);
        }
        @media screen and (min-width: $desktop) {
            width: calc((100% - 4 * $margin) / 4);
            margin: calc($margin / 2);
        }
    }


    &--client{
        width: calc((100% - 2 * $margin) / 2);
        margin: calc($margin / 2);
        height: 92px;

        @media screen and (min-width: $tablet) {
            width: calc((100% - 3 * $margin) / 3);
            margin: calc($margin / 2);
        }
        @media screen and (min-width: $desktop) {
            width: calc((100% - 6 * $margin) / 6);
            margin: calc($margin / 2);
        }
    }
    &--portfolio{
        display: block;

        @media screen and (max-width: calc($tablet - 1px)) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: $tablet) {
            width: calc((100% - 2 * $margin) / 2);
            margin: calc($margin / 2);
        }
        @media screen and (min-width: $desktop) {
            width: calc((100% - 3 * $margin) / 3);
            margin: calc($margin / 2);
        }
    }
    
    &--margin:not(:last-child) {
        margin-bottom:$margin;
    }

    &--margin10:not(:last-child) {
        margin-right: 10px;
    }

    &--block{
        display: block;
    }

    &--three {
        width: calc(100% / 3 - $margin);
        margin-left:$margin;
        margin-top:$margin;

        transition:$box-shadow;
    }

    &--four {
        width: calc((100% - 90px) / 4);
    }

    &--two {   
        width: calc((100% - 2 * $margin) / 2);
        height: 92px;
        margin: calc($margin / 2);
    }

    &--activity {
        position: relative;

        
        &:not(:last-child){
            margin-right: $margin;
        }
    }

    &--box-shadow:hover,
    &--box-shadow:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}