/* Section секція для контенту */
.section {
    // padding-top: 94px;
    // padding-bottom: 94px;
    padding-top: 60px;
    padding-bottom: 60px;

    
    @media screen and(min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
        &--low-bottom-padding {
            padding-bottom: 47px;
        }
        &--low-top-padding{
            padding-top: 47px;
        }
    }
    &--low-top-padding {
        @media screen and (max-width: calc($desktop - 1px)){
            position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            margin: -1px;
        }
    }
    &--bg-color {
        background-color: $secondary-two-bg;
    }
    &--visual-hiden{
        @extend %visual-hiden;
    }
}

.section__heading {
    margin-top: 0;
    margin-bottom: 30px;

    color: $primary-text;

    @include text(700, 28px, 1.17);
    text-align: center;

    &--visually-hidden {
        @extend %visual-hiden;
    }
    
    @media screen and (min-width: $desktop) {
        @include text(700, 36px, 1.16);
    }
}

