/* Footer підвал сайту*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $secondary-bg;
}

.footer__container {
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }
}