/* Group  группа посилань*/
.group {
    margin: 0;
    text-align: center;

    &--margin {
        @media screen and (max-width: calc($tablet - 1px)) {
            margin-top: 60px;
        }
        @media screen and (min-width: $desktop) {
            margin-left: 70px;
            margin-right: 93px;
        }
    }

    &--margin-top{
        @media screen and (max-width: calc($desktop - 1px)) {
            margin-top: 60px;
        }
    }
    &__container{
        // outline: 2px solid teal;
        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        }
    }

    @media screen and (min-width: $desktop) {
        text-align: start;
    }
}

.group__heading {
    margin: 0;
    margin-bottom: 20px;

    @include text(700, $transform: uppercase);
    letter-spacing: 0.03em;
    color: $white;
}