.feedback-nav1{
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.feedback-nav1__element{

}

.feedback-nav1__link{
    text-decoration: none;
}